<div class="row">
    <div class="col-6">
        <div class="mb-3">
            <label for="num1" class="form-label">Numero 1</label>
            <input type="text" [(ngModel)]='num1' class="form-control" name="num1" placeholder="Numero 1">
        </div>
        <div class="mb-3">
            <label for="num2" class="form-label">Numero 2</label>
            <input type="text" [(ngModel)]='num2' class="form-control" name="num2" placeholder="Numero 2">
        </div>
        <div class="mb-3">
            <button (click)="calcular()" class="btn btn-primary">Calcular</button>
        </div>
    </div>
    <td></td>
    <div class="col-6">
        <div class="form-check">
            <input class="form-check-input" (click)="operator('plus')" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
            <label class="form-check-label" for="flexRadioDefault1">
              Sumar
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" (click)="operator('minus')" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
              Restar
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" (click)="operator('times_by')" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
              Multiplicar
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" (click)="operator('divided_by')" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
            <label class="form-check-label" for="flexRadioDefault4">
              Dividir
            </label>
          </div>
        <h2>Resultado: {{resultado}}</h2>
    </div>
</div>
